Ans :- Q1.
there are two type of comments which is given bellow .

1.) Single - Line Commeent
2.) Multi - Line Comment

Single - line comment in Python :-
 A single -line comment start and ends in the same line . We use the # symbol to write a single -line comment. For example,

In [1]:
# Create a variable
name = "Ajay kumar"

In [2]:
# Print the value
print(name)

Ajay kumar

We can also use the single - line comment along with the code

Here, we have created two single - line comments:
    
#Create a variable
#print the value

Multi - line Comment in Python:-
 Python does'nt offer a separate way to write multi-line comment.
    However,  there are other ways to get around this issue.
    
We can use # at the beginning of each line of comment on multiple lines. For example,

In [6]:
#this is a long comment
#and it extendes 
#to multiple lines
"""this is a long comment
and it extendes 
to multiple lines"""

'this is a long comment\nand it extendes \nto multiple lines'

Here, each line is treated as a single comment, and all of them are ignored.
Another way of doing this is to use triple quotes, either ''' or """.

These triple quotes are generally used for multi -line strings. But if we do not assign it to any variable or function, we can use it as a comment.

#_______*******______******_____

Ans Q2. 

Python supports four different numerical types - int (signed integers) long(long integers, they can also be represented in octal and hexadecimal) float(floating point real values) complex(complex numbers)

assign values to variables

In [8]:
a = 4  
b = 1234
c = 33.04
d = 3 + 5j

In [9]:
type(a),a

(int, 4)

In [12]:
type(b),b

(int, 1234)

In [13]:
type(c),c

(float, 33.04)

In [15]:
type(d),d

(complex, (3+5j))

AnsQ3.

TO convert between types, you simply use the type name as a function, There are several built- in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.

  Python automatically converts 
  a to int and
  Python automatically converts
  b to float .

In [6]:
a = 5
b = 1.0

In [7]:
type(a), type(b)

(int, float)

In [8]:
c = a//b

In [9]:
type(c),c

(float, 5.0)

In the above example, it can be seen that Python handles all the type conversion automatically without any user involvement.

#______*******________*******________

AnsQ4.

To run Python scripts with the Python command, you need to open a command -line and type in the word python, or python3 if you have both versions, followed by the path to your script, just loke this:

hello.py
Hello World!

If everything works okay, after you press Enter , you'll see the phrase Hello World!

In [12]:
#________**********__________********________

AnsQ5.

In [13]:
my_list = [1,2,3,4,5]

In [14]:
my_list[1:3]

[2, 3]

In [15]:
#_____*******_________*******______

AnsQ6.

Complex number are the number that are expressed in the from of a + ib where, a,b are real numbers and 'i' is an imaginary number called "iota" . The value of i = (/-1). For example, 2+3i is a complex number, where 2 is a real number (Re) and 3i is an imaginary number (Im)

Complex Numbers in Python

complex([real,[imag]])

In [16]:
z = complex(5,7)

In [17]:
print("Output:",z)

Output: (5+7j)

In [18]:
z1 = complex(3)

In [19]:
print("Output",z1)

Output (3+0j)

In [20]:
#*******________*******_____

AnsQ7.

Use variables to store values.

Variables are name for values.In Python the = symbol assigns the value on the right to the name on the left. The variable is created when a value is assigned to it. Here , Python assigns an age to a variabale age and a name in quotation marks to a variable first_name.

In [2]:
age = 25
first_name = "Ajay kumar"

Use print to display values.
Python has a built -in function called print that prints things as text.
Call the function (i.e., tell Python to run it ) by using its name. Provide values to the function (i.e. , the things to print ) in parentheses. To add a string to the printout, wrap the string in single quotations.
The values passed to the function are called 'arguments'

In [3]:
print(first_name, "is", age, "year old")

Ajay kumar is 25 year old

#*******______________***********______

AnsQ8.

The assignment operator, denoted by the "=" symbol, is the operator that is used to assign values to variables in Python. The line Price = 9.99 takes the known value, 9.99, and assigns that value to the variable with name "Price". After executing this line, this number will be stored into this variables.

In [4]:
Price = 9.99

In [5]:
type(Price),Price

(float, 9.99)

The data type of variable "Price" is foalting value

#_______******_________*******____

In [10]:
#AnsQ9.

d = {'my_full_name' : "Ajay Kumar Puri"}

In [14]:
d.values()

dict_values(['Ajay Kumar Puri'])

#_____*********_______*******

AnsQ10.
Extracting the "World" form "Hello,World!" as a string.

In [1]:
A = "Hello,World!"

In [2]:
A[-6:-1]

'World'

In [3]:
#******________*******_______

AnsQ11.
Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not.

In [1]:
is_student = True
x = is_student
if x == True:
    print(x,":" ,"you are currently a student")
else :
    print("you are not currently a student")

True : you are currently a student